body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    align-self: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #84A98C;
  }
  
  .title {
    font: "Math";
    text-align: center;
    margin-bottom: 8px;
    padding: 4px;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    width: 100%;
  }

  .visualizations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background: #CAD2C5;
  }

  .rowwise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    background: #CAD2C5;
  }

  h1 {
    /* font: "Century Gothic"; */
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #354F52;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #808080;
  }
  
  .map, .bubble-plot, .bar-plots {
    margin-bottom: 40px;
  }
  
  .description {
    margin: 16px;
    font-size: 0.9em;
    color: #354F52;
  }
  
  .bar-plots {
    display: flex;
    justify-content: space-between;
  }
  
  .bar-plot, .bar-plot-horizontal {
    width: 48%;
  }
  
  /* Aesthetic colors and padding for visualizations */
  #map, #bubble_plot, #bar_plot, #bar_plot_horizontal {
    padding: 20px;
    background-color: #CAD2C5;
    border: 1px solid #CAD2C5;
    border-radius: 16px;
    width: 100%;
    /* flex: auto; */
  }
  